@font-face {
  font-family: unchangedThoughts;
  src: url("assets/unchanged.ttf");
}

body {
  background-image: url("assets/tea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 50%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 45px;
}

.title {
  color: white;
  font-family: unchangedThoughts;
  font-size: 12rem;
}

.subtitle {
  color: white;
  font-family: unchangedThoughts;
  font-size: 6rem;
}
